/* Footer */
footer {
    background-color: #ffffff;
    color: #fff;
    font-family: 'Switzer', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-top: 5px solid #40848D;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #40848D;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.Shopee img{
    width: 80px;
    height: auto;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .footer-container {
        align-items: flex-start;
    }

    .footer-links {
        margin-bottom: 20px;
    }
}